@import "tailwindcss";
@import "../styles/tokens.css";
@import "../styles/typography.css";

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-bg text-fg font-sans text-body antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-fg;
  }

  p {
    @apply text-body text-fg;
  }

  a {
    @apply text-fg;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .display {
    @apply text-display font-semibold leading-display tracking-display text-balance;
  }
  .title {
    @apply text-h2 font-medium leading-h2 tracking-h2 max-w-xl;
  }
  .title-sm {
    @apply text-body font-semibold leading-body tracking-body;
  }
  .copy {
    @apply text-body font-normal leading-body tracking-body;
  }
  .copy-sm {
    @apply text-small leading-small tracking-small;
  }
  .copy-lg {
    @apply text-large leading-large tracking-large;
  }
  .copy-primary {
    @apply whitespace-nowrap text-primary text-xs font-semibold tracking-[0.6rem] leading-overline;
  }
}
